<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.livetv.alltvchannel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="com.livetv.alltvchannel.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.livetv.alltvchannel.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <application
        android:name="com.livetv.alltvchannel.san_aavechebahiLoan"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveTVGuide"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.livetv.alltvchannel.san_SplashExit.SplashActivity"
            android:exported="true"
            android:theme="@style/ProgressBar_one"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.livetv.alltvchannel.san_SplashExit.san_MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.livetv.alltvchannel.san_LiveTvGuide.san_TVGuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_ed__Manager.san_fd_n_LNGG"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_ed__Manager.sanaid_oan_PK"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_ed__Manager.san_ned_Bhasha"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_ed__Manager.sand_Loan_PR"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_ed__Manager.san_d_an_TQ"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_ed__Manager.san_ird__Loan_ST"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_LiveTvGuide.san_GuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_LiveTvGuide.san_SetTextAllDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.livetv.alltvchannel.san_LiveTvGuide.san_LiveTVActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.livetv.alltvchannel.san_LiveChannel.ChannelNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.livetv.alltvchannel.san_LiveChannel.LiveTVMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.livetv.alltvchannel.san_LiveChannel.ViewVideoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>